
<ng-container *ngFor="let node of nodes; let index = index">
    <!-- 
        there are two cases - when node has childs
        and node has't childs
    -->
    <ng-container *ngIf="node.childs.length == 0; else has">
        <div class="value" 
                [ngClass]="{'selected': node == selectedNode}"
                (click)="onSelectValue(node)"
                >
                {{ node.value }}
            </div>
    </ng-container>

    <ng-template #has>
        <div class="tree">
            <div class="header">
                <div class="arrow-wrapper">
                    <div class="arrow" (click)="onArrowClick(arrow, index)" #arrow>
                        <div class="arrow-right"></div>
                    </div>
                </div>
                
                <div 
                    class="header-value" 
                    (click)="onSelectValue(node)"
                    [ngClass]="{'selected': node == selectedNode}"
                >
                    {{ node.value }}
                </div>
            </div>

            <div class="nested" *ngIf="visibleChilds.includes(index)">
                <app-tree-view 
                    #nestedTree
                    (selected)="onSelectValue($event)"
                    [selectedNode]="selectedNode"
                    [nodes]="node.childs"
                    >
                </app-tree-view>
            </div>
        </div>
    </ng-template>

</ng-container>
